{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- header image -->
    <link rel="shortcut icon" type="image/jpg" href="{% static '/images/img1.jpg' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- for fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 

    <!-- my css file -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
    <title>{% block title %}Eat Pray Code{% endblock %}</title>

    <!-- for icon -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!--For data table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

  </head>
  <body>

    <!-- navbar section -->
    <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-container">
      <a class="navbar-brand font-weight-bolder" href="{% url 'home' %}">
        EPC
        <sup style="margin-left: -3px; font-size: 15px;">β</sup>
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contest_list'%}">CONTEST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'problem_list'%}">PROBLEMS</a>
          </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'show_submission'%}">SUBMISSION</a>
            </li>
          {% endif %}
        </ul>
          <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item" style="text-transform:uppercase">
              <a class="nav-link" href="{% url 'user_details_view' %}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">SIGN UP</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
    <!-- container -->
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- this is footer section  -->
    <section>
      <div class="footer" style="position: fixed; bottom: 0; width: 100%; height: 5%;">
        <div class="container">
          <p>
            copyright &copy; 2021 The Passage Team
          </p>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
    {% block js %}
    {% endblock js %}
  </body>
</html>
