{% extends '_base.html' %}
{% load static %}

{% block title %}about | EPC{% endblock title %}

{% block content %}
<style>
    body,
    html {
        background: #CACACA !important;
    }
</style>
<section class="banner-container container-fluid">
    <div class="row vh-100">
      <div class="col-md-9 banner-column m-auto text-center text-white p-4 border border-light">
        <h4 class="display-4 font-weight-bolder">About Us</h4>
        EPC online judge is a platform for the sports programmer. Here you will get practice problem and you can also host contest for
        your institute.
      </div>
    </div>
  </section>
{% endblock content %}
