{% extends '_base.html' %}
{% load static %}

{% block title %}EPC Online Judge{% endblock title %}

{% block content %}
<style>
  body,
  html {
      background: #CACACA !important;
  }
</style>
  <!-- this is banner section -->
  <section class="banner-container container-fluid">
    <div class="row vh-100">
      <div class="col-md-9 banner-column m-auto text-center text-white p-4 border border-light">
        <h2 class="display-4 font-weight-bolder">Peace Be Upon You</h2>
        <h1 class="display-4 font-weight-bolder">Welcome To EPC Online Judge</h1>
        <h3 class="">The Playground for Sports Programmers</h3>
      </div>
    </div>
  </section>
{% endblock content %}
